<h1>User-created events:</h1>

<ul>
  <% @user.events.each do |event| %>
    <li>
      <a href="/events/<%= event.id %>">
        <%= event.title %>
      </a>
    </li>
  <% end %>
</ul>

<h1>User-attended events:</h1>

<h2>Past events:</h2>
<p><%@user.attended_events.past_events.each do |event|%>
  <%= event.title %><br>
  <% end %>
</p>

<h2>Future events:</h2>
<p><%@user.attended_events.future_events.each do |event|%>
  <%= event.title %><br>
  <% end %>
</p>


