<h1>User-created events</h1>

<ul>
  <% @user.events.each do |event| %>
    <li>
      <a href="/events/<%= event.id %>">
        <%= event.title %>
      </a>
    </li>
  <% end %>
</ul>

<h2>User-attended events</h2>
<p><%@user.attended_events.each do |event|%>
   <%= event.title %><br>
<% end %>
</p>